.trivia-section {
    background-image: url(https://img.freepik.com/free-vector/quiz-neon-sign_1262-19629.jpg?w=1380&t=st=1665421017~exp=1665421617~hmac=187a6127ab04f8f5c8601dd31d51fd084b0ce3f4c7297f2628b48c9c314829e4);
    background-size: cover;
    background-position: center;
}