.trivia-section {
    background-image: url(https://img.freepik.com/free-vector/happy-participants-playing-quiz-game-tv-show-host-with-microphone-asking-questions_74855-10770.jpg?w=900&t=st=1665421439~exp=1665422039~hmac=f58a67b4c30d1c121395abe13490f3d6a892ea8940df7d1fec034283c66dba1f);
    background-size: cover;
    background-position: center;
}

/* 
https: //img.freepik.com/free-vector/happy-participants-playing-quiz-game-tv-show-host-with-microphone-asking-questions_74855-10770.jpg?w=900&t=st=1665421439~exp=1665422039~hmac=f58a67b4c30d1c121395abe13490f3d6a892ea8940df7d1fec034283c66dba1f





https: //img.freepik.com/free-vector/quiz-neon-sign_1262-19629.jpg?w=1380&t=st=1665421017~exp=1665421617~hmac=187a6127ab04f8f5c8601dd31d51fd084b0ce3f4c7297f2628b48c9c314829e4 */